# Check sync process

In [1]:
from scripts.conf_file_finding import try_find_conf_file
try_find_conf_file()

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

In [ ]:

import datajoint as dj

c:\Users\luna_\miniconda3\envs\u19_pipeline_python_env\Lib\site-packages\datajoint\plugin.py:4: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources
c:\Users\luna_\miniconda3\envs\u19_pipeline_python_env\Lib\site-packages\datajoint\plugin.py:4: UserWarning: Module scripts was already imported from None, but c:\users\luna_\documents\princetonprojects\u19-pipeline-python is being added to sys.path
  import pkg_resources

In [3]:
acquisition = dj.create_virtual_module('acquisition', 'u19_acquisition')

[2025-11-18 19:19:51,956][INFO]: DataJoint 0.14.6 connected to alvaros@datajoint00.pni.princeton.edu:3306

In [ ]:
acquisition = dj.create_virtual_module('acquisition', 'u19_acquisition')

old_session_stats_query = "current_datetime < NOW() - INTERVAL 15 DAY"

order_cols = "'subject_fullname', 'session_date', 'session_number', 'trial_idx'"
connection = acquisition.LiveSessionStats.connection
with connection.transaction:
    old_session_stats = (acquisition.LiveSessionStats & old_session_stats_query).fetch(as_dict=True, order_by=[order_cols])
    (acquisition.HistoricSessionStats).insert(old_session_stats, skip_duplicates=True)
    (acquisition.LiveSessionStats & old_session_stats_query).delete(safemode=False)

[2025-11-18 19:29:49,185][INFO]: Deleting 0 rows from `u19_acquisition`.`live_session_stats`

In [13]:
pd.DataFrame(old_session_stats)

,subject_fullname,session_date,session_number,block,trial_idx,current_datetime,total_trials,level,sublevel,num_trials_left,num_trials_right,performance,performance_left,performance_right,bias,mean_duration_trial,median_duration_trial,violation_trial,consecutive_violation_trials
0,efonseca_ef559_act121,2025-05-07,0,1,1,2025-05-07 10:16:37,0,3,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,efonseca_ef559_act121,2025-05-07,0,1,2,2025-05-07 10:20:36,0,3,1.0,0,0,NaN,NaN,NaN,NaN,NaN,406.04200,0,0
2,efonseca_ef559_act121,2025-05-07,0,1,3,2025-05-07 10:25:43,1,3,1.0,0,1,1.0,NaN,1.0,NaN,233.38700,321.98800,0,0
3,efonseca_ef559_act121,2025-05-07,0,1,4,2025-05-07 10:27:59,2,3,1.0,1,1,1.0,1.0,1.0,0.0,267.96000,306.98900,0,0
4,efonseca_ef559_act121,2025-05-07,0,1,5,2025-05-07 10:28:10,3,3,1.0,1,2,1.0,1.0,1.0,-0.5,222.45400,272.46100,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64481,testuser_3000,2025-10-03,0,1,7,2025-10-03 07:17:36,6,2,1.0,3,3,1.0,1.0,1.0,0.0,8.36586,5.05366,0,0
64482,testuser_3000,2025-10-03,0,1,8,2025-10-03 07:17:41,7,2,1.0,4,3,1.0,1.0,1.0,0.0,7.63136,4.58532,0,0
64483,testuser_T06,2025-09-01,0,1,2,2025-09-01 08:30:00,1,2,1.0,1,0,1.0,1.0,NaN,NaN,8.51104,10.22550,0,0
64484,testuser_T06,2025-09-01,0,1,3,2025-09-01 08:30:05,2,2,1.0,2,0,1.0,1.0,NaN,NaN,6.63150,8.18361,0,0
64485,testuser_T06,2025-09-01,0,1,4,2025-09-01 08:30:13,3,2,1.0,3,0,1.0,1.0,NaN,NaN,5.66873,6.14167,0,0